extends templates/_default

block content
  h1.title Gulp Starter Kit

  p.description
    strong A simple Gulp 4 Starter Kit for modern web development.

  img.image(src="/assets/images/sample.jpg" alt="")
